In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import uniform
from sklearn.preprocessing import OneHotEncoder
import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.metrics import r2_score

In [2]:
data6 = pd.read_csv('Lab5_final.csv')

In [3]:
data6.head(3)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,customer,state,customer lifetime value,response,coverage,education,effective to date,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,month
0,0,0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,1,1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,2,2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2

In [ ]:
X = numerical.drop(['total claim amount'],axis = 1)
Y = numerical['total claim amount']

In [4]:
data6.dtypes

Unnamed: 0.2                       int64
Unnamed: 0.1                       int64
Unnamed: 0                         int64
customer                          object
state                             object
customer lifetime value          float64
response                          object
coverage                          object
education                         object
effective to date                 object
employment status                 object
gender                            object
income                             int64
location code                     object
marital status                    object
monthly premium auto               int64
months since last claim          float64
months since policy inception      int64
number of open complaints        float64
number of policies                 int64
policy type                       object
policy                            object
renew offer type                  object
sales channel                     object
total claim amount               float64
vehicle class                     object
vehicle size                      object
month                              int64
dtype: object

In [5]:
categorical = data6.select_dtypes(include=['object'])

In [22]:
numerical = data6.select_dtypes(include=['float64', 'int64']).drop('total claim amount', axis = 1)

In [25]:
categorical.columns

Index(['state', 'response', 'coverage', 'education', 'employment status',
       'gender', 'location code', 'marital status', 'policy type', 'policy',
       'renew offer type', 'sales channel', 'vehicle class', 'vehicle size'],
      dtype='object')

In [27]:
# One Hot enconder

for col in categorical.columns:
    one_hot = pd.DataFrame(OneHotEncoder().fit(pd.DataFrame(categorical[col])).transform(pd.DataFrame(categorical[col])).toarray())

In [39]:
one_hot

        0    1    2
0     0.0  1.0  0.0
1     0.0  1.0  0.0
2     0.0  1.0  0.0
3     0.0  1.0  0.0
4     0.0  1.0  0.0
...   ...  ...  ...
9129  0.0  1.0  0.0
9130  0.0  1.0  0.0
9131  0.0  1.0  0.0
9132  0.0  1.0  0.0
9133  0.0  1.0  0.0

[9134 rows x 3 columns]

In [29]:
#Concat DataFrames

X = pd.DataFrame(np.concatenate((numerical, one_hot), axis=1))

In [30]:
X

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,0.0,0.0,4809.216960,48029.0,61.0,7.0,52.0,0.0,9.0,2.0,0.0,1.0,0.0
1,1.0,1.0,1.0,2228.525238,0.0,64.0,3.0,26.0,0.0,1.0,1.0,0.0,1.0,0.0
2,2.0,2.0,2.0,14947.917300,22139.0,100.0,34.0,31.0,0.0,2.0,2.0,0.0,1.0,0.0
3,3.0,3.0,3.0,22332.439460,49078.0,97.0,10.0,3.0,0.0,2.0,1.0,0.0,1.0,0.0
4,4.0,4.0,6.0,5035.035257,37405.0,63.0,8.0,99.0,3.0,4.0,2.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,9129.0,9129.0,10903.0,2771.663013,59855.0,74.0,30.0,82.0,4.0,1.0,1.0,0.0,1.0,0.0
9130,9130.0,9130.0,10904.0,19228.463620,0.0,187.0,14.0,32.0,0.0,2.0,2.0,0.0,1.0,0.0
9131,9131.0,9131.0,10906.0,5259.444853,61146.0,65.0,7.0,68.0,0.0,6.0,1.0,0.0,1.0,0.0
9132,9132.0,9132.0,10907.0,23893.304100,39837.0,201.0,11.0,63.0,0.0,2.0,2.0,0.0,1.0,0.0
9133,9133.0,9133.0,10908.0,11971.977650,64195.0,158.0,0.0,27.0,4.0,6.0,2.0,0.0,1.0,0.0

In [31]:
#Train-test split

X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.4,random_state=100)

In [32]:
len(X)

9134

In [33]:
len(X_test)

3654

In [34]:
model = sm.OLS(y_train, X_train).fit()

In [35]:
Y

0       292.800000
1       744.924331
2       480.000000
3       484.013411
4       287.556107
           ...
9129    355.200000
9130    897.600000
9131    273.018929
9132    381.306996
9133    618.288849
Name: total claim amount, Length: 9134, dtype: float64

In [36]:
#Apply linear regression

predictions = model.predict(X_test)

In [40]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     total claim amount   R-squared:                       0.533
Model:                            OLS   Adj. R-squared:                  0.532
Method:                 Least Squares   F-statistic:                     520.9
Date:                Tue, 28 Feb 2023   Prob (F-statistic):               0.00
Time:                        22:09:20   Log-Likelihood:                -36865.
No. Observations:                5480   AIC:                         7.376e+04
Df Residuals:                    5467   BIC:                         7.384e+04
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
0             -0.0909      0.085     -1.069      0.285      -0.258       0.076
1             -0.0909      0.085     -1.069      0.285      -0.258       0.076
2              0.1525      0.142      1.071      0.284      -0.127       0.432
3             -0.0012      0.000     -2.880      0.004      -0.002      -0.000
4             -0.0034   9.03e-05    -37.309      0.000      -0.004      -0.003
5              5.4772      0.086     63.572      0.000       5.308       5.646
6             -0.2560      0.271     -0.944      0.345      -0.788       0.276
7             -0.2512      0.098     -2.563      0.010      -0.443      -0.059
8             -0.1615      2.982     -0.054      0.957      -6.007       5.684
9             -1.0374      1.127     -0.920      0.357      -3.247       1.172
10             2.4301      5.485      0.443      0.658      -8.322      13.182
11            57.0077     17.292      3.297      0.001      23.108      90.907
12            53.1877     15.690      3.390      0.001      22.428      83.947
13           123.8089     16.606      7.456      0.000      91.255     156.363
==============================================================================
Omnibus:                      715.462   Durbin-Watson:                   1.964
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5426.491
Skew:                           0.383   Prob(JB):                         0.00
Kurtosis:                       7.814   Cond. No.                     5.64e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.2e-21. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [37]:
#R2

r2_score(y_test, predictions)

0.5160139263853798

In [41]:
#MSE

from sklearn.metrics import mean_squared_error

mse=mean_squared_error(y_test,predictions)
mse

38611.04447630264

In [42]:
#RMSE

rmse=mean_squared_error(y_test,predictions,squared=False)
rmse

196.4969324857328

In [43]:
#MAE

from sklearn.metrics import mean_absolute_error

mae=mean_absolute_error(y_test,predictions)
mae

141.42020847774288